// Place all the styles related to the api::comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;

  .left-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .picture-section {
    margin-left: -7px;

    .picture {
      width: 34px;
      height: 34px;
      border-radius: 50px;
      margin: 4px;
    }
  }

  .description-section {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: rgb(240,242,245);
    border-radius: 20px;

    .comment-user {
      color: rgb(5, 5, 5);
      text-decoration: none;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.25px;
    }

    .comment-user:hover {
      text-decoration: underline;
    }

    .comment-bodies {
      font-size: 15px;
      font-weight: 300;
    }
  }

  .time-section {
    
    .created-ats {
      font-size: 10px;
      text-decoration: none;
      margin-left: 15px;
    }

    .created-ats:hover {
      text-decoration: underline;
      cursor: pointer;

      + .created-ats-full {
        display: block;
      }
    }

    .created-ats-full {
      display: none;
      position: absolute;
      padding: 12px;
      color: white;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 70%);
      margin: 0px 0px;
      font-size: 13px;
      letter-spacing: 0.5px;
    }
  }

  .delete-button {
    border: none;
    background: white;
    margin-right: 4px;
    margin-top: -6px;
            
    .delete-icon {
      width: 10px;
      height: 10px;
    }
  }
}