// Place all the styles related to the api::comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;

  .picture-section {

    .picture {
      width: 34px;
      height: 34px;
      border-radius: 50px;
      margin: 4px;
    }
  }

  .description-section {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: rgb(240,242,245);
    border-radius: 20px;

    .comment-user {
      color: rgb(5, 5, 5);
      text-decoration: none;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.25px;
    }

    .comment-user:hover {
      text-decoration: underline;
    }

    .comment-bodies {
      font-size: 15px;
      font-weight: 300;
    }
  }

  .time-section {
    
    .created-ats {
      font-size: 10px;
      text-decoration: none;
      margin-left: 15px;
    }

    .created-ats:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}