// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-profile-title {
  width: 10%;
  margin: 0 auto;
  margin-top: 100px;
}