#navbar {
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 5px 5px 20px 10px rgb(226,228,231);
  z-index: 10;

  .navbar-icon-section {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 12px;
    
    #navbar-icon-button {
      display: flex;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: none;
      background-color: white;
      border-radius: 50px;
      box-shadow: 5px 5px 20px 10px rgb(255, 255, 255);
      border-bottom: none;
      text-decoration: none;
      
      #navbar-icon {
        height: 40px;
        width: 40px;
        border-radius: 50px;
        box-shadow: 5px 5px 20px 10px rgb(255, 255, 255);
        margin-top: 3px;
      }

      #navbar-icon-title {
        color: rgb(17,151,246);
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 400;
        padding: 9px;
      }
    }

    #navbar-icon-button:hover {
      background-color: rgb(240,242,245);
    }

    #navbar-search-form {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;

      .search-input-field {
        background-color: rgb(240, 242, 245);
        border: none;
        width: 97.5%;
        padding: 10px;
        border-radius: 50px;
        padding-left: 13px;
        margin-left: 6px;
        font-size: 15px;
        letter-spacing: 0.5px;
      }

      .search-input-field:focus {
        outline: none;
      }
    }
  }

  .user-profile-section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    width: 375px;
    
    #user-profile {
      text-decoration: none;
      color: rgb(37,126,243);
      font-weight: 500;
      font-size: 18px;
      padding: 2px;
      margin-right: 12px;
      align-items: center;
      display: flex;
      flex-direction: row;
      border-radius: 50px;
      
      #nav-bar-picture {
        height: 40px;
        width: 40px;
        border-radius: 50px;
        margin-left: 2px;
        border: 1px solid rgb(187,190,194);
      };
      
      #nav-bar-name {
        padding-top: 1px;
        margin-right: 15px;
        padding-left: 10px;
        font-size: 16px;
      }
    };

    #notification-button {
      border: none;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-right: 15px;
      margin-top: 3px;
      background: white;

      .picture {
        width: 70px;
        height: 35px;
        margin-left: -19px;
      }

      .picture_nonactive {
        width: 25px;
        height: 25px;
      }
    }

    #notification-button:hover {
      background: rgb(240, 242, 245);
      cursor: pointer;
    }

    #logout-section {
      display: flex;
      flex-direction: row;
      border-radius: 50px;
      padding: 3px;
      
      .logout-button {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: none;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background: white;
  
        .logout-icon {
          width: 25px;
          height: 25px;
          margin-left: -5px;
          margin-top: 3px;
        }
      }

      .logout-button:hover {
        cursor: pointer;
      }
      
      .desc-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .desc {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }

    #logout-section:hover {
      background: rgb(240, 242, 245);
      cursor: pointer;
    }

    #user-profile:hover {
      background: rgb(240, 242, 245);
    }
  }

  #notification-section {
    position: absolute;
    right: 25px;
    width: 375px;
    top: 55px;
    box-shadow: 5px 5px 20px 10px rgb(216,217,220);
    border-radius: 6px;
    background-color: white;
    padding: 20px 10px 10px 10px;
    
    .link {
      text-decoration: none;
      color: black;
    }

    .link:active {
      text-decoration: none;
    }

    .notification-title {
      font-size: 24px;
      font-weight: 700;
      padding-left: 10px;
    }

    .notifications {
      width: 100%;
      border: 1px solid white;
      border-radius: 7px;
      text-decoration: none;
      color: black;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 15px 5px 15px 5px;

      .picture {
        height: 37px;
        width: 37px;
        border-radius: 50%;
      }

      .description-section {
        font-weight: 300;
        padding-left: 15px;

        .bold {
          font-weight: 600;
        }
      }
    }

    .notifications:hover {
      text-decoration: none;
      background-color: rgb(228,230,233);
    }
  }

  #notification-section-none {
    position: absolute;
    display: none;
    right: 25px;
    width: 375px;
    top: 55px;
    box-shadow: 5px 5px 20px 10px rgb(216,217,220);
    border-radius: 6px;
    background-color: white;
    padding: 20px 10px 10px 10px;
    
    .link {
      text-decoration: none;
      color: black;
    }

    .link:active {
      text-decoration: none;
    }

    .notification-title {
      font-size: 24px;
      font-weight: 700;
      padding-left: 10px;
    }

    .notifications {
      width: 100%;
      border: 1px solid white;
      border-radius: 7px;
      text-decoration: none;
      color: black;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 15px 5px 15px 5px;

      .picture {
        height: 37px;
        width: 37px;
        border-radius: 50%;
      }

      .description-section {
        font-weight: 300;
        padding-left: 15px;

        .bold {
          font-weight: 600;
        }
      }
    }

    
    .notifications:hover {
      text-decoration: none;
      background-color: rgb(228,230,233);
    }
  }
  .notification-none {
    padding: 20px; 
  
    .title {
    
    }
  }
}