// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background-color: rgb(240,242,245);
  font-family: 'Inter', sans-serif;
}

#footer {
  background-color: white;
  height: 220px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
